.button {
  border-radius: 12px;
  border: 0;
  font-size: 1rem;
  padding: 1rem 2rem;
  cursor: pointer;
  background: dodgerblue;
  color: white;
  transition: all 0.3s;
}

.button:hover {
  background: lighten(dodgerblue, 10%);
}

